
<app-fab-buttons [soundLayer]="soundLayer" [sounds]="soundsArray" [tokens]="tokens" [campaignData]="campaignData"></app-fab-buttons>
<div id="rpg"></div>


<!-- <div id="mySidenav" class="sidenav">
    <a class="sidenavlinks" href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a class="sidenavlinks" href="javascript:void(0)" (click)="createFog()">Add Fog</a> -->
    <!-- <a class="sidenavlinks" href="javascript:void(0)" ng-click="setLayer('fog')">Fog Layer</a> -->
    <!-- <a class="sidenavlinks" href="javascript:void(0)" ng-click="setLayer('token')">Token Layer</a> -->
    <!-- <ng-select [items]="tokens"
    id="tokenSelect"
                bindLabel="name"
               placeholder="Select token(s)"
               appendTo="body"
               multiple="true"
               [(ngModel)]="selectedTokens">
    </ng-select>


    <br> -->
    <!-- <input style="width:100%; height:32px" class="red rounded" type="text" ng-model="c.data.tokenVisibleName" ng-disabled="c.data.tokenNameIncrement"  placeholder="Visible Token Name"/> -->
    
  <!-- <input type="checkbox" id="nameIncrement" [(ngModel)]="tokenNameIncrement"/><div class="sideNavText">Increment name with number?</div> -->
<!-- <br> -->
<!-- <div class="sideNavText" >Current Increment: {{tokenIncrement}}</div> -->
<!-- <br>
<input style="width:100%; height:32px" class="red rounded" type="number" min="1" max="1024" [(ngModel)]="tokenSize" placeholder="Size In Pixels" value="128">
<br>
    <a class="sidenavlinks" (click)="createToken()">Add Selected Token(s)</a>

<br>
<ng-select [items]="soundsArray"
id="soundSelect"
bindLabel="name"
placeholder="Select sound(s)"
appendTo="body"
multiple="true"
[(ngModel)]="selectedSounds">
</ng-select>
    <br>
    <a class="sidenavlinks" (click)="createSound()">Add Selected Sound(s)</a>
    <a class="sidenavlinks" (click)="showHideSoundLayer()">Show/Hide Sound Layer</a>

</div> -->